
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
build/
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.obj
*.o
*.out

*.log
*.tlog
*.idb
*.pch
*.ipch
*.iobj
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tlh
*.tmp
*.tmp_proj

CMakeFiles/
CMakeCache.txt
cmake_install.cmake

Thumbs.db
desktop.ini
